@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Glowbutton container */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
}
.button {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #03e9f4;
  font-size: 1.2rem;
  font-weight: bold;
  transition: .5s;
  overflow: hidden;
  margin-right: 70px;
}

.button span {
  position: absolute;
  display: block; /* Ensure spans are block-level for width/height to take effect */
}


.button:hover {
  background-color: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.button:first-child {
  filter: hue-rotate(225deg);
}

.button:last-child {
  filter: hue-rotate(90deg);
}

.button span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

.button span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}

.button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 100%;
  }
}

/* End Glowbutton container */

/* ---- glowcard ---- */
@keyframes glow {
  0%, 100% { box-shadow: 0 0 25px rgba(129, 230, 217, 0.5); }
  50% { box-shadow: 0 0 50px rgba(129, 230, 217, 0.75); }
}

.glowing-card {
  animation: glow 2s ease-in-out infinite;
}


/* ---- end glowcard ---- */

/* ---- glowbuttons2 ---- */
.button.glow-effect {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  color: #29ffec;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  background-color: #000000;
}

.button.glow-effect:hover {
  background: #29ffec;
  color: black;
  box-shadow: 0 0 5px #29ffec, 0 0 25px #29ffec, 0 0 50px #29ffec, 0 0 200px #29ffec;
}

.button.glow-effect span {
  position: absolute;
  display: block;
}

.button.glow-effect span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(360deg, transparent, #29ffec);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

/* ---- end glowbuttons2 ---- */